.location {
  z-index: 10;
  position: relative;
  display: flex;
  margin-bottom: auto;
  flex-flow: column nowrap;
  align-items: flex-end;

  &__icon {
    height: 50px;
    width: 50px;

    & > img {
      display: block;
      width: 100%;
      width: 100%;
    }
  }

  &__city {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    text-align: right;
    font-weight: bold;
    font-size: 0.9rem;
  }

  &__container {
    margin: 20px 0 10px;
  }

  &__time {
    font-size: 1rem;
  }
}
