.search-box {
  display: block;
  position: relative;
  z-index: 10;
  margin-bottom: auto;
  width: 70%;
  white-space: nowrap;
  background-color: #fff;
  overflow: hidden;

  &__icon {
    position: absolute;
    top: calc(50% - 13px);
    right: 20px;
  }

  &__input {
    display: block;
    position: relative;
    width: 100%;
    font-family: inherit;
    padding: 5px 20px;
    font-size: 2rem;
    border-width: 0;
    background-color: transparent;
    z-index: 10;
    color: #333;

    &:focus {
      outline-width: 0;
    }
  }

  &::after {
    content: attr(data-placeholder);
    position: absolute;
    left: 20px;
    font-size: 2rem;
    top: 5px;
    color: transparentize(#333, 0.8);
    user-select: none;
    z-index: 5;
  }
}
