@import './variables.scss';
@import './components/_SearchBox';
@import './components/_Location';
@import './components/_WeatherItem';
@import './components/_CurrentWeather';
@import './components/_Navigation';

* {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

body {
  margin: 0;
  color: #333;
  font-size: 21px;
  font-family: $sans-serif;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.hero {
  height: 70%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  &__cover {
    height: auto;
    left: 0;
    top: -25%;
    width: 100%;
    display: block;
    position: absolute;
    z-index: 5;

    &--anim-in {
      animation: anim-in 300ms ease-in-out both;
    }
    &--anim-out {
      animation: anim-out 300ms ease-in-out both;
    }
  }
}

.weather {
  display: flex;
  flex: 1;

  &__right {
    display: flex;
    flex: 1;
  }
}

@keyframes anim-in {
  from {
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes anim-out {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
  }
}
